@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary: #FB342F;
  --heading:#1E1E1E
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-heading: var(--heading);

  /* Replace old geist fonts */
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-syne);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}
